
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - DJANGO_SUPERUSER_USERNAME=admin
      - DJANGO_SUPERUSER_EMAIL=admin@example.com
      - DJANGO_SUPERUSER_PASSWORD=2323
    command: >
      sh -c "python manage.py migrate &&
         python manage.py createsuperuser --noinput || true &&
         gunicorn newsproject.wsgi:application --config gunicorn_config.py"


    ports:
      - "10000:10000"
    volumes:
      - .:/app
    env_file:
      - .env
    
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=news_96d8
      - POSTGRES_USER=news_96d8_user
      - POSTGRES_PASSWORD=NSJqZ4zldDMgSQgsGl9wVtY3THOnChD8
      - POSTGRES_HOST=dpg-d4ccdl24d50c73d46mvg-a
      - POSTGRES_PORT=5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d mydb"]
      interval: 10s
      timeout: 5s
      retries: 5
